.list-header {

	.be-ListSearch__input {
		left: -2px;
		margin: 0;
		position: relative;
		width: 254px;
		z-index: 1;
	}

}

.list {


	&.be-ListFiltered {

		.list-header {
			background-color: #fff;
			margin-bottom: 8px;
			padding-bottom: 0;
		}
	}

}
