.list {
	background-color: transparent !important;
}

.list-header {
	background-color: #eee;
	border-radius: 4px 4px 4px 4px;
	margin-bottom: 8px;
	padding-bottom: 0;
}

.open-card-composer {
	background-color: transparent !important;
	border-radius: 4px 4px 4px 4px;
	color: #fff !important;
	margin-top: 8px;

	&:hover {
		background-color: transparent !important;
		color: #fff !important;
	}
}

.card-composer .cc-controls {
	background-color: #eee !important;
}


.u-fancy-scrollbar::-webkit-scrollbar-track-piece {
/*     background: rgba(0,0,0,0.1) !important; */
    background: rgba(0,0,0,0.1) !important;
}

.u-fancy-scrollbar::-webkit-scrollbar-thumb:horizontal, .u-fancy-scrollbar::-webkit-scrollbar-thumb:vertical {
    background: rgba(255,255,255,1) !important;
/*     background: rgba(0,0,0,1) !important; */
}
