.list-header {
	.be-input-search {
		left: -2px;
		margin: 0;
		position: relative;
		width: 254px;
		z-index: 1;
	}

	.be-list-header-num-cards {
		margin: 3px 0 0 0;
	}

	.be-list-points-total {
		margin: 0 0 7px 0;
	}

}
