.be-CardFilterByLabel {

	&__trigger {
		@include border-radius(3px, 3px, 3px, 3px);
		top: 4px;
		cursor: pointer;
		display: block;
		position: absolute;
		right: 32px;
		text-align: center;
		z-index: 2;

		&:hover {
			background: rgba(0, 0, 0, 0.08);
		}

		.icon-sm {
			padding: 4px;
		}
	}


	&__list {
		@include border-radius(3px, 3px, 3px, 3px);
		@include box-shadow(0, 1px, 6px, rgba(0, 0, 0, 0.15));
		@include box-sizing();
		background: #fff;
		border: 1px solid #d6dadc;
		border-bottom-color: #c4c9cc;
		padding: 10px;
		position: absolute;
		left: 212px;
		top: 36px;
		width: 300px;
		z-index: 3;
	}

}
